# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: 'Default'

steps:
- checkout: self

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '7.x'
  displayName: 'Install .NET SDK'

- script: |
    dotnet restore
    dotnet build --configuration Release
    dotnet publish --configuration Release --output $(Build.ArtifactStagingDirectory)
  displayName: 'Build and Publish'

- task: AzureWebApp@1
  inputs:
    azureSubscription: '<サービス接続名>'
    appName: '<WebApp名>'
    appType: 'webAppLinux'   # ← ここを追加
    package: '$(Build.ArtifactStagingDirectory)/**/*.zip'
